<div class="login" fxLayout="row" fxFlex>
    <div class="login-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo">
            <img alt="Angular Logo" src="assets/images/avatars/eurotoll-France.png">
        </div>

        <!-- <div class="title">Angular (v14.0.0) Material Teamplate</div> -->

        <div class="description">
            Tous droits réservés - Mentions légales - CGU/Politique de confidentialité - 01.17.0
        </div>
    </div>

    <div class="login-form-wrapper">
        <div class="login-form">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
